@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
 overflow-x: hidden;
  
}

body {
  padding: 0;
  margin: 0;
  background-color: #e5ecee;
  overflow-x: hidden;
  // removes the black box when selecting on input tag
  :focus {
    outline: 0;
  }

}

.mobile-navbar-logo {
  font-family: 'Comforter', cursive;
  // font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

#about-title {
  font-family: 'Comforter', cursive;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25%)
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes bounceForever {
  from {
    transform: translateY(-3%)
  }
  50% {
    transform: translateY(3%)
  }
  to {
    transform: translateY(-3%)
  }
}

#paper_document {

  animation: bounceForever 2s ease-in-out infinite;

  
}

#hero-svg-animate {

  animation: slideUp 2s ease-out;

}

.mobile-hero-header{
  animation: slideUp 2s linear;
}

.mobile-hero-text{
  animation: slideUp 2s linear;
}

.no-flicker {
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}


// about section timeline

.step {
  color: #FFFFFF;
  font-size: 30px !important;
  padding: 0 !important;
  opacity: 100% !important;
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}


.vertical-timeline-element-icon {
  background-color: #FACC15 !important;
}

// slanted line transition


.tilt {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  // width: calc(219% + 1.3px);
  transform: rotateY(180deg);
  height: 100px;
}

.tilt .shape-fill {
  // fill: #FFFFFF
  fill: #74C947;
}

.services-tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.services-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.services-tilt .shape-fill {
  fill: #e5ecee;
}
.services-waves {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.services-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.services-waves .shape-fill {
  fill: #123456;
}

.process-waves {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.process-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.process-waves .shape-fill {
  fill: #E5ECEE;
}

.reviews-waves {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.reviews-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.reviews-waves .shape-fill {
  fill: #E5ECEE;
}

.contact-waves {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.contact-waves .shape-fill {
  fill: #FFFFFF;
}

select {
  color: black
  // color: black;
}

// select:first{
//   color:black
// }


option:first-of-type {
  // color: black;
  color: #9e9e9e
}



@media (max-width: 1700px){
  .mobile-contact-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .services-height{
    height: 100%;
  
  }
  #services-section{
    flex-direction: column-reverse;
    // background-color: red;
    // padding: 30px;
    // margin-top: 15%;

  }
}

@media (max-width: 1169px){
  .mobile-contact-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .step {
    display: none !important;
    opacity: 100% !important;
  
  }

  #reviews {
    padding-top: 10%;
  }
  #process {
    padding-top: 10%;
  }
  #services {
    padding-top: 10%;
  }
  #contact {
    padding-top: 10%;
  }
}




@media (max-width: 845px){


  .mobile-contact-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .mobile-review-bubble {
    padding: 5%;
    width: 100%;
    margin-top: 5%;
    font-size: 20px;
  }


  .mobile-header {
    text-align: center;
    font-size: 50px;
  }

  .mobile-header-text{
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    font-size: 40px;
  }

  #reviews {
    padding-top: 10%;
  }
  #process {
    padding-top: 10%;
  }
  #services {
    padding-top: 10%;
  }
  #contact {
    padding-top: 10%;
  }
  #hero-svg {
    // display: none;
    transform: scale(0.8);
   
    // width: 400px;
    // height: 400px;
  }
}

@media (max-width: 600px){
  

  #hero-div {
    height: 100%;
    
  }
  #hero-section{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-content: center;

  }

  #hero-button{
    width: 100%;
    margin-top: 3rem;
    
  }

  

}

@media (max-width: 414px){
  #hero-div {
    height: 90vh;
    margin-bottom: 20%;
  }

  .mobile-hero-section {
    margin-top: 0%;
  }

  .mobile-contact-form {
    row-gap: 2%;
    transform: scale(1);

  }
  .mobile-contact-info {
    flex-direction: column;
    width: 100%;
    row-gap: 10%; 
 
  
  }
  
  .mobile-contact-select {
    height: 50%;
  }

  .mobile-contact-submit {
    height: 50%;
  }
  
  .mobile-review-bubble {
    width: 100%;
  }
  
  .mobile-review-bubble:hover {
    background-color: #1B4E80;
  }

  .mobile-review-name {
    font-size: 24px;
  }

  .mobile-service-card {
    padding-top: 10%;
  }
  .mobile-icon-type {
    padding-top: 20px;
  }

  
  .mobile-icon {
    display: none;
    
  }
  
  .mobile-header-text {
    font-size: 32px;
    text-align: center;
    
  }
  .mobile-text {
    text-align: center;
    margin-left: 0px;
    font-size: 24px;
  }

  
}

@media (max-width: 280px){
  .mobile-hero-section {
    margin-top: 0%;
  }
  #hero-div {
    height: 100%;
  }
  #hero-svg {
    transform: scale(.8);
  }

  .mobile-icon-type {
    display: none;
  }
  .mobile-header-text {
    font-size: 24px;
    text-align: center;
    
  }
  .mobile-text {
    text-align: center;
    margin-left: 0px;
    font-size: 16px;
  }
  .mobile-navbar-logo {
    font-size: 26px
  }
  .mobile-pen-logo{
    font-size: 20px
  }
  .mobile-button {
    font-size: 13px;
  }
  .process-button {
    font-size: 16px;
  }
}




@media (max-width: 414px){

  // .mobile-navbar-logo {
  //   display: none;  

  // }
  .mobile-hero-section {
    margin-top: 0%;
  }
  .mobile-hero-header {
    text-align: center;
    font-size: 34px;
    line-height: 40px;
  }

  .mobile-navbar-container {
    padding-left: 0%;
    padding-right: 0%;
    justify-content: space-around;
  }
  
  .mobile-hero-text {
    text-align: center;
    font-size: 20px;
  }

  #hero-button {
    width: 100%;
    margin: 0;
    font-size: 24px;


  
  }
  .mobile-hero-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  #process {
    padding-top: 20%;
  }

  #contact {
    padding-top: 20%;
  }
  
  #services {
    padding-top: 20%;
  }

  #hero-button {
    font-size: 16px;
    width: 75%
  }
}




@media (max-width: 280px){

  #home{
    margin-top: 0%;
  }

  .mobile-navbar-container {
    padding-left: 0%;
    padding-right: 0%;
    justify-content: space-around;
  }

  .mobile-hero-section {
    margin-top: 0%;
  }
  .mobile-hero-header {
    text-align: center;
    font-size: 34px;
    line-height: 40px;

  }

  .mobile-hero-text {
    text-align: center;
    font-size: 20px;
  }

  #hero-button {
    width: 100%;
    margin: 0;
    font-size: 16px;


  
  }
  .mobile-hero-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mobile-process-header {
    text-align: center;
  }
  #reviews {
    padding-top: 25%;
  }
  #process {
    padding-top: 25%;
  }
  #services {
    padding-top: 25%;
  }
  #contact {
    padding-top: 25%;
  }

  .mobile-contact-form{
    row-gap: 4%;
    transform: scale(0.9);
  }




}
